@model CS363Lab.Models.Product

@{
    ViewBag.Title = "Add/Edit a Product";
}

<h2>Add/Edit a Product</h2>
<p>@Html.ActionLink("Go Back", "Index/" + Model.StoreID)</p>
<p>Please enter your product details here:</p>
<form action="/Products/Edit/" method=post>
<table>
    <tr>
        <td>Product Name</td>
        <td>@Html.TextBoxFor(x => x.ProductName)</td>
    </tr>
    <tr>
        <td>Product Description</td>
        <td>@Html.TextBoxFor(x => x.ProductDescription)</td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td>@Html.TextBoxFor(x => x.ProductQuantity)</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@Html.TextBoxFor(x => x.ProductPrice)</td>
    </tr>
</table>
@Html.HiddenFor(x => x.ProductID)
<input type="submit" value="Add/Edit Product" />
</form>